<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="mb-3" style="color: red">
      <h5>Oops!</h2>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder:""   %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, placeholder:"" %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, id:"phone", class: "cel-sp-mask", placeholder:"Ex.: (00) 00000-0000"%>

  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf, id: "cpf", class: "cpf-mask", placeholder: "Ex.: 000.000.000-00" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-info mt-3"%>
  </div>
<% end %>
