<div>
  <div style="background-color: #440c5c" class="p-3">
    <p style="color: orange"><%= notice %></p>
    <div class="row justify-content-center">
      <h1 style="color: white">Users</h1>
      <%= form_with url: users_path, method: :get, class: "d-flex input-group" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-info " %>
      <% end %>
    </div>
    <%= link_to "New user", new_user_path, class: "btn btn-info mt-3" %>
  </div>
  <div id="users" class="row justify-content-center">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
</div>
